/* header part */

header{
    background-color: rgb(236, 229, 221);
    font-family: "Times New Roman", Times, serif;
    color: #272727;
    
    
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 280px;
   
   

}
.banner-greetings{
    display: flex;
    width: 708px;
    font-size: 80px;
    font-weight: 800;
    

}
.banner-text{
    display: flex;
    width: 634px;
    font-size: 25px;
    font-weight: 400;
   
}
    
.tulip{
    width: 645px;
    height: 810px;
    margin-top: 80px;
    margin-right: 240px;
  
}

.btn-primary{
    background-color: #E55473;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}


/* featured styles */

 section{
    padding: 170px;

 }

.featured-title{
    color: #272727;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
.featured-discription{
   
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
}

.flower-list{
        padding: 100px;
    justify-content:center;
    display: flex;
    
    
    }
.flower-1{
    border-radius: 300px 300px 0px 0px;
    background-color: rgb(95, 129, 118);
    margin-right: 45px;
    width: 490px;
    height: 590px;
}


.flower-2{
    border-radius: 300px 300px 0px 0px;
    background-color: rgb(43, 155, 155);
    width: 490px;
    height: 590px;
}


.flower-3{
    border-radius: 300px 300px 0px 0px;
    background-color: rgb(151, 79, 115);
    margin-left: 45px;
    width: 490px;
    height: 590px;
}

.caption{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}

.hot-deal{
    border-radius: 8px;
    background-color: #dfbac2;
    text-align: center;
    display: flex;
}

.hot-sale{
margin-left: 200px;
margin-right: 300px;
margin-top: 50px;
margin-bottom: 50px;
}

.hot-deal-title{
font-size: 50px;
font-weight: 800;
}
.hot-deal-description{
    font-size: 25px;
font-weight: 400;
}
.text-color{
color:  #f01142;
}
.hot-image{
    padding-left: 300px;
}

.flower-list-2{
margin: 30px;
    display: flex;
    justify-content: space-around;
}
/* latest deal */
.letest-deal{
    background-image:url('../Flower\ Asset/Rectangle.png');
}
    

footer{
    width: 1922px;
height: 449px;
text-align: center;
background-color: black;
margin-bottom: 100px;
}
.footer-title{
    
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; ;
}
.font-color{
    color: white;
}
.font-color2{
    font-size: 25px;
    color: aliceblue;
}